/**
 * Admin
 **/
.formtable tbody th {font-weight: normal;text-align: right;}

.path-admin #manageauthtable,
.path-admin .admintable {width: 100%;}

.path-admin #assignrole {width: 60%;margin-left: auto;margin-right: auto;}
.path-admin .admintable .leftalign {text-align: left;}
.dir-rtl.path-admin .admintable .leftalign {text-align: right;}
.path-admin .admintable .centeralign {text-align: center;}

.path-admin .admintable.environmenttable .name,
.path-admin .admintable.environmenttable .status,
.path-admin .admintable.environmenttable .info {width: 10%;white-space: nowrap;}

.path-admin #cohorts .admintable .name {width: 20%;}
.path-admin #cohorts .admintable .id,
.path-admin #cohorts .admintable .size,
.path-admin #cohorts .admintable .action,
.path-admin #cohorts .admintable .source {width:10%;}
.path-admin #cohorts .admintable .description {width: 40%;}

.path-admin .admintable.externalservices .service {width: 30%;}
.path-admin .admintable.externalservices .plugin,
.path-admin .admintable.externalservices .delete {width: 20%;}
.path-admin .admintable.externalservices .functions {width: 20%;}
.path-admin .admintable.externalservices .users {width: 20%;}
.path-admin .admintable.externalservices .action {width: 10%;}

.path-admin .wsoverview.admintable .step {width: 30%;}
.path-admin .wsoverview.admintable .status {width: 10%;}
.path-admin .wsoverview.admintable .description {width: 60%;}

.path-admin #assignrole .admintable .role,
.path-admin #assignrole .admintable .userrole,
.path-admin #assignrole .admintable .roleholder {white-space: nowrap;}

.path-admin .admintable.environmenttable .report {width: 100%;}

.path-admin #configchanges .admintable .date {width: 30%;}
.path-admin #configchanges .admintable .name,
.path-admin #configchanges .admintable .plugin,
.path-admin #configchanges .admintable .setting {width: 10%;}
.path-admin #configchanges .admintable .newvalue,
.path-admin #configchanges .admintable .originalvalue {width: 20%;}

.path-admin .securityreport.admintable .issue {width: 30%;}
.path-admin .securityreport.admintable .status {width: 10%;}
.path-admin .securityreport.admintable .desc {width: 50%;}
.path-admin .securityreport.admintable .config {width: 10%;}
.path-admin #securityreporttable .admintable  .desc {width: 60%;}

#page-admin-index .c0 {vertical-align: top;}
#page-admin-index .c1 {vertical-align: middle;}

#page-admin-blocks .generaltable th,
#page-admin-filters .generaltable th,
#page-admin-auth .generaltable th,
#page-admin-modules .generaltable th,
#page-admin-modules .generaltable td.c0 {white-space: nowrap;padding: 4px;}

#page-admin-blocks .generaltable td.cell,
#page-admin-filters .generaltable td.cell,
#page-admin-modules .generaltable td.cell,
#page-admin-auth .generaltable td.cell{padding: 4px;}

.path-admin .incompatibleblockstable td.c0 {font-weight: bold;}

#page-admin-course-manage .addcategory {padding: 10px;}
#page-admin-course-manage .buttons {margin-bottom: 15px;}
#page-admin-course-manage .editcourse {margin:20px auto;}
#page-admin-course-manage .editcourse th,
#page-admin-course-manage .editcourse td {padding-left:10px;padding-right:10px;}
#page-admin-course-manage .editcourse .count {text-align:right;}
#page-admin-course-manage.dir-rtl .editcourse td[align="left"] {text-align: right;}
#page-admin-course-manage.dir-rtl .editcourse td[align="right"] {text-align: left;}

#page-admin-report-security-index .timewarninghidden {display:none;}
#page-admin-report-security-index .statuswarning, #page-admin-report-performance-index .statuswarning {background-color: #f0e000;}
#page-admin-report-security-index .statusserious, #page-admin-report-performance-index .statusserious {background-color: #f07000;}
#page-admin-report-security-index .statuscritical, #page-admin-report-performance-index .statuscritical {background-color: #f00000;}
#page-admin-report-capability-index .rolecaps th {text-align: left;}
#page-admin-report-capability-index #settingsform #capabilitysearch {width: 30em;}

#page-admin-report-backups-index .backup-report {width:100%;}
#page-admin-report-backups-index .backup-error,
#page-admin-report-backups-index .backup-unfinished {color: #f00000;}
#page-admin-report-backups-index .backup-skipped,
#page-admin-report-backups-index .backup-ok {color: #006400;}
#page-admin-report-backups-index .backup-warning {color: #ff9900;}
#page-admin-report-backups-index .backup-notyetrun {color: #006400;}

#page-admin-qbehaviours .disabled {color: gray;}
#page-admin-qbehaviours th {white-space: normal;}
#page-admin-qbehaviours .cell.c1,
#page-admin-qbehaviours .cell.c2 {text-align: right;}
#page-admin-qbehaviours .cell.c3 {font-size: 0.7em;}
#page-admin-qbehaviours #qbehaviours div,
#page-admin-qbehaviours #qbehaviours form {display: inline;}
#page-admin-qbehaviours #qbehaviours img.spacer {width: 16px;}
#page-admin-qbehaviours #qbehaviours img { padding-right: .45em; }

#page-admin-qtypes .disabled {color: gray;}
#page-admin-qtypes th {white-space: normal;}
#page-admin-qtypes .cell.c1,
#page-admin-qtypes .cell.c2 {text-align: right;}
#page-admin-qtypes .cell.c3 {font-size: 0.7em;}
#page-admin-qtypes #qtypes div,
#page-admin-qtypes #qtypes form {display: inline;}
#page-admin-qtypes #qtypes img.spacer {width: 16px;}
#page-admin-qtypes #qtypes img { padding-right: .45em; vertical-align: text-bottom; }

.path-admin-roles .buttons .singlebutton,
#page-admin-course-manage .buttons {
  display: inline;
  padding: 5px;
}

.path-admin-roles .capabilitysearchui {text-align: left;margin-left: auto;margin-right: auto;}
#page-admin-roles-define .topfields {margin: 1em 0 2em;}
#page-admin-roles-define .mform {width: 100%;}
#page-admin-roles-define .capdefault {background-color: #eee; border: 1px solid #cecece;}
#page-filter-manage .backlink,
.path-admin-roles .backlink {margin-top: 1em}
#page-admin-roles-explain #chooseuser h3,
#page-admin-roles-usersroles .contextname {margin-top: 0;}
#page-admin-roles-explain #chooseusersubmit {margin-top:0;text-align: center;}
#page-admin-roles-usersroles p {margin: 0;}
#page-admin-roles-override .cell.c1,
#page-admin-roles-assign .cell.c3,
#page-admin-roles-assign .cell.c1 {padding-top: 0.75em;}
#page-admin-roles-override .overridenotice,
#page-admin-roles-define .definenotice {margin: 1em 10% 2em 10%;text-align: left;}

#page-admin-index .adminerror .singlebutton,
#page-admin-index .adminwarning .singlebutton,
#page-admin-index #layout-table .singlebutton {margin:20px;}

#page-admin-index .adminwarning.maturityinfo.maturity50 {background-color:#ffd3d9;}
#page-admin-index .adminwarning.maturityinfo.maturity100,
#page-admin-index .adminwarning.maturityinfo.maturity150 {background-color:#f3f2aa;}

#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo {line-height:1.8;margin:20px auto;width:60%;text-align:left;}
#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo .info.release {margin-right:10px;padding:5px 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo.maturity50 .info.release {background-color:#ffd3d9;}
#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo.maturity100 .info.release,
#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo.maturity150 .info.release {background-color:#f3f2aa;}
#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo.maturity200 .info.release {background-color:#d2ebff;}
#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo span,
#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo a {padding-right:1em;}
#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo .separator {border-left:1px dotted #333;}

#page-admin-index .updateplugin div,
#page-admin-plugins .updateplugin div {margin-bottom:0.5em;}
#page-admin-index .updateplugin .updatepluginconfirmexternal,
#page-admin-plugins .updateplugin .updatepluginconfirmexternal {padding:1em;background-color:#ffd3d9;border:1px solid #EEAAAA}

#page-admin-plugins .uninstalldeleteconfirmexternal {margin:1em auto;padding:1em;background-color:#ffd3d9;border:1px solid #EEAAAA}

#page-admin-user-user_bulk #users .fgroup {white-space: nowrap;}
#page-admin-report-stats-index .graph {text-align: center;margin-bottom: 1em;}
#page-admin-report-courseoverview-index .graph {text-align: center;margin-bottom: 1em;}
#page-admin-lang .translator {border-width: 1px;border-style: solid;}

#page-admin-uploaduser table#uuresults {margin-bottom: 2em;}
#page-admin-uploaduser table#uupreview,
#page-admin-uploaduser table#uuresults td.cell {padding:3px;}

/** This is the CSS for the role assignment control **/
.path-admin .roleassigntable {width: 100%;}
.path-admin .roleassigntable td {vertical-align: top;padding: 0.2em 0.3em}
.path-admin .roleassigntable p {text-align: left;margin: 0.2em 0;}
.path-admin .roleassigntable #existingcell,
.path-admin .roleassigntable #potentialcell {width: 42%;}
.path-admin .roleassigntable #existingcell label,
.path-admin .roleassigntable #potentialcell label {font-weight: bold;}
.path-admin .roleassigntable #buttonscell {width: 16%;}
.path-admin .roleassigntable #buttonscell #add,
.path-admin .roleassigntable #buttonscell #remove {width: 100%;margin: 0.3em 0;padding: 0.5em 0;}
.path-admin .roleassigntable #buttonscell p {margin: 0.3em 0;}
.path-admin .roleassigntable #buttonscell #assignoptions {font-size: 0.75em;}
.path-admin .roleassigntable #buttonscell #assignoptions .collapsibleregioncaption {font-weight: bold;}
.path-admin .roleassigntable #buttonscell #addcontrols {margin-top: 3em;height: 13em;}
.path-admin .roleassigntable #removeselect_wrapper,
.path-admin .roleassigntable #addselect_wrapper {width: 100%;}
.path-admin .roleassigntable #removeselect_wrapper label,
.path-admin .roleassigntable #addselect_wrapper label {font-weight: normal;}

.path-admin table.rolecap {margin-left: auto;margin-right: auto;}
.path-admin table.rolecap tr.rolecap th {text-align: left;font-weight: normal;}
.path-admin.dir-rtl table.rolecap tr.rolecap th {text-align: right;}
.path-admin .rolecap .hiddenrow {display: none;}
.path-admin .rolecap .inherit,
.path-admin .rolecap .allow,
.path-admin .rolecap .prevent,
.path-admin .rolecap .prohibit {text-align:center;}
.path-admin .rolecap .cap-name,
.path-admin .rolecap .note {display: block;padding: 0 0.5em;}
.path-admin .rolecap label {display: block;width: 100%;min-height: 2.5em;}

#page-admin-enrol .enrolplugintable {width:100%;}

.plugincheckwrapper {width: 100%;}
.adminsearchform {padding-top:10px;}
.environmentbox {margin-top: 1em;}
#mnetconfig table,
.environmenttable {margin-left:auto;margin-right:auto;}
.environmenttable .cell {padding: 0.15em 0.5em;}
.environmenttable img.iconhelp { padding-right: 0.3em;}
.dir-rtl .environmenttable img.iconhelp { padding-left: 0.3em; padding-right: 0}
#trustedhosts .generaltable {margin-left: auto;margin-right: auto;width: 500px;}
#trustedhosts .standard {width: auto;}
.form-buttons {margin: 10px 0 0 13em;}

#adminsettings fieldset {margin-top: 1em;padding: 1em 0.5em;}
#adminsettings fieldset.error {margin: 0.2em 0 0.5em 0;padding: 0.5em 0 0 0;}
#adminsettings fieldset.error legend {display: block;}
#adminsettings .form-item {clear: both;margin: 1em 0 2em 0;}
#adminsettings .form-item .form-label {display: block;float: left;width: 12.5em;text-align: right;}
.dir-rtl #adminsettings .form-item .form-label {float:right;}
#adminsettings .form-item .form-label .form-shortname {display:block;}
.dir-rtl #adminsettings .form-item .form-label .form-shortname {text-align: left;}
#adminsettings .form-item .form-setting {display: block;margin-left: 13.5em;text-align: left;}
.dir-rtl #adminsettings .form-item .form-setting {margin-right: 13.5em; margin-left: auto;text-align: right;}
.dir-rtl #admin-spelllanguagelist textarea,
#page-admin-setting-editorsettingstinymce.dir-rtl .form-textarea textarea {text-align: left;direction: ltr;}
#adminsettings .form-item .form-setting .form-htmlarea {width:  640px;display:inline;}
#adminsettings .form-item .form-setting .form-htmlarea .htmlarea {width:  640px;display:block;}
#adminsettings .form-item .form-setting .form-multicheckbox li {list-style: none;}
#adminsettings .form-item .form-setting .form-multicheckbox ul {padding:0;margin:0;}
#adminsettings .form-item .form-setting .defaultsnext {margin-right: 0.5em;display: inline;}
#adminsettings .form-item .form-setting .locked-checkbox {margin-right: 0.2em; margin-left: 0.5em;display: inline;}
.dir-rtl #adminsettings .form-item .form-setting .locked-checkbox {margin-right: 0.5em; margin-left: 0.2em;display: inline;}
#adminsettings .form-item .form-setting .form-password .unmask,
#adminsettings .form-item .form-setting .form-defaultinfo {display: inline;}
#adminsettings .form-item .form-description {display: block;margin: 0.5em 0 0em 14.25em;text-align: left;}
.dir-rtl #adminsettings .form-item .form-description {margin: 0.5em 14.25em 0em 0em;}
#adminsettings .form-item .pathok,
#adminsettings .form-item .patherror {margin-left: 0.5em;}
#adminsettings #admin-emoticons table td input {width: 8em;}
#adminsettings #admin-emoticons table td.c0 input {width: 4em;}
#adminsettings .form-overridden {background-color: yellow;}

#adminthemeselector .selectedtheme td.c0 {border:1px solid;border-right-width:0;}
#adminthemeselector .selectedtheme td.c1 {border:1px solid;border-left-width:0;}

.admin_colourpicker,
.admin_colourpicker_preview {display:none;}
.jsenabled .admin_colourpicker_preview {display:inline;}
.jsenabled .admin_colourpicker {display:block;height:102px;width:410px;margin-bottom:10px;}
.admin_colourpicker .loadingicon {vertical-align:middle;margin-left:auto;}
.admin_colourpicker .colourdialogue {float:left;border:1px solid #000;}
.admin_colourpicker .previewcolour {border:1px solid #000;margin-left:301px;}
.admin_colourpicker .currentcolour {border:1px solid #000;margin-left:301px;border-top-width:0;}

/* Styles for flags on admin settings */
.adminsettingsflags { float: right; }
.dir-rtl .adminsettingsflags { float: left; }
.adminsettingsflags label { margin-right: 7px; }
.dir-rtl .adminsettingsflags label { margin-left: 7px; }

/** Overide for RTL layout **/
.dir-rtl #adminsettings .form-item  .form-setting,
.dir-rtl #adminsettings .form-item  .form-label,
.dir-rtl #adminsettings .form-item .form-description {text-align: right}
.dir-rtl.path-admin .roleassigntable p {text-align: right;}

/** Plugins check */
#page-admin-index #notice .checkforupdates {text-align:center;}
#page-admin-index #plugins-check-info {text-align:center;margin:1em;}
#page-admin-index #plugins-check td {vertical-align: top;}
#page-admin-index #plugins-check {margin-left:auto; margin-right:auto;}
#page-admin-index #plugins-check .displayname .pluginicon {width:16px;}
#page-admin-index #plugins-check .missingfromdisk .displayname {background-color:#ffd3d9;}
#page-admin-index #plugins-check .standard .source {color:#999;}
#page-admin-index #plugins-check .extension .source {background-color:#f3f2aa;}
#page-admin-index #plugins-check .msg td {text-align:center;}
#page-admin-index #plugins-check .status-downgrade .status {background-color:#ffd3d9;}
#page-admin-index #plugins-check .status-missing .status {background-color:#ffd3d9;}
#page-admin-index #plugins-check .status-new .status {background-color:#e7f1c3;}
#page-admin-index #plugins-check .status-nodb .status {color:#999;}
#page-admin-index #plugins-check .status-delete .status {background-color:#d2ebff;}
#page-admin-index #plugins-check .status-upgrade .status {background-color:#d2ebff;}
#page-admin-index #plugins-check .status-uptodate .status {color:#999;}
#page-admin-index #plugins-check .requires ul {font-size:0.7em;margin:0;}
#page-admin-index #plugins-check .requires li {display:block;}
#page-admin-index #plugins-check .requires-ok {color:#999;}
#page-admin-index #plugins-check .requires-failed {background-color:#ffd3d9;}
#page-admin-index #plugins-check .status .pluginupdateinfo {padding:5px 10px;margin:10px;background-color:#d2ebff;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
#page-admin-index #plugins-check .status .pluginupdateinfo.maturity50 {background-color:#ffd3d9;}
#page-admin-index #plugins-check .status .pluginupdateinfo.maturity100,
#page-admin-index #plugins-check .status .pluginupdateinfo.maturity150 {background-color:#f3f2aa;}
#page-admin-index #plugins-check .status .pluginupdateinfo span,
#page-admin-index #plugins-check .status .pluginupdateinfo a {padding-right:1em;}
#page-admin-index #plugins-check .status .pluginupdateinfo .separator {border-left:1px dotted #333;}
#page-admin-index .upgradepluginsinfo {text-align:center;}

/** Plugins management */
#page-admin-plugins .checkforupdates {margin:0 auto 1em;text-align:center;}
#page-admin-plugins #plugins-control-panel {margin-left:auto; margin-right:auto;}
#page-admin-plugins #plugins-control-panel .pluginname .pluginicon {width:16px;}
#page-admin-plugins #plugins-control-panel .pluginname .componentname {font-size:0.8em;color:#999;margin-left:26px;}
#page-admin-plugins #plugins-control-panel .statusmsg {background-color:#eee;padding:3px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#page-admin-plugins #plugins-control-panel .status-missing .pluginname {background-color:#ffd3d9;}
#page-admin-plugins #plugins-control-panel .status-missing .statusmsg {color:#600;}
#page-admin-plugins #plugins-control-panel .status-new .pluginname {background-color:#e7f1c3;}
#page-admin-plugins #plugins-control-panel .status-new .statusmsg {color:#060;}
#page-admin-plugins #plugins-control-panel .disabled .availability {background-color:#eee;}
#page-admin-plugins #plugins-control-panel .extension .source {background-color:#f3f2aa;}
#page-admin-plugins #plugins-control-panel .msg td {text-align:center;}
#page-admin-plugins #plugins-control-panel .requiredby {font-size:0.8em;color:#999;}
#page-admin-plugins #plugins-overview-panel {margin:1em auto;text-align:center;}
#page-admin-plugins #plugins-overview-panel .info {padding:5px 10px;}
#page-admin-plugins #plugins-overview-panel .separator {border-left:1px dotted #999;}
#page-admin-plugins #plugins-overview-panel .info.updatable {margin-left:10px;background-color:#d2ebff;font-weight:bold;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
#page-admin-plugins #plugins-overview-filter {margin:1em auto;text-align:center;}
#page-admin-plugins #plugins-overview-filter .filter-item {padding:5px 10px;}
#page-admin-plugins #plugins-overview-filter .filter-item.active {font-weight:bold;}
#page-admin-plugins #plugins-overview-filter .separator {border-left:1px dotted #999;}
#page-admin-plugins #plugins-control-panel .displayname img.icon { padding-top:0; padding-bottom: 0; }
#page-admin-plugins #plugins-control-panel .uninstall a {color:#900;}
#page-admin-plugins #plugins-control-panel .notes .pluginupdateinfo {padding:5px 10px;margin:10px;background-color:#d2ebff;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
#page-admin-plugins #plugins-control-panel .notes .pluginupdateinfo.maturity50 {background-color:#ffd3d9;}
#page-admin-plugins #plugins-control-panel .notes .pluginupdateinfo.maturity100,
#page-admin-plugins #plugins-control-panel .notes .pluginupdateinfo.maturity150 {background-color:#f3f2aa;}
#page-admin-plugins #plugins-control-panel .notes .pluginupdateinfo span,
#page-admin-plugins #plugins-control-panel .notes .pluginupdateinfo a {padding-right:1em;}
#page-admin-plugins #plugins-control-panel .notes .pluginupdateinfo .separator {border-left:1px dotted #333;}
.dir-rtl #plugins-check .pluginupdateinfo {text-align: center;direction: ltr;}
.dir-rtl #plugins-check .rootdir,
.dir-rtl #plugins-check .requires-ok {text-align: left;direction: ltr;}

/** MNet networking */
#page-admin-mnet-peers .box.deletedhosts {margin-bottom:1em;font-size:80%;}
#page-admin-mnet-peers .mform .certdetails {background-color:white;}
#page-admin-mnet-peers .mform .deletedhostinfo {background-color:#ffd3d9;border: 2px solid #eeaaaa;padding:4px;margin-bottom:5px;}

#core-cache-plugin-summaries table,
#core-cache-store-summaries table {width:100%;}
#core-cache-lock-summary table,
#core-cache-definition-summaries table,
#core-cache-mode-mappings table {margin:0 auto;}
#core-cache-store-summaries .default-store td {color:#333;font-style: italic;}
#core-cache-rescan-definitions,
#core-cache-mode-mappings .edit-link,
#core-cache-lock-summary .new-instance {margin-top:0.5em;text-align:center;}
#core-cache-store-summaries .store-requires-attention {background-color:#ffd3d9;}

.tinymcesubplugins img.icon { padding-top: 0; padding-bottom: 0; }
